<div class="flex flex-col overflow-hidden rounded-[20px] w-full h-[291px] border border-DarkBlue10 p-6 @@style">
    <div class="border-b border-DarkBlue10 pb-6">
        <span class="w-14 h-14 rounded-full bg-LightBlue flex items-center justify-center text-center uppercase text-h4 font-bold text-DarkBlue50">
            @@Title
        </span>
    </div>
    <div class="flex flex-col pt-6 h-full">
        <ul class="mb-6 flex flex-col gap-y-3">
            <li class="flex items-center">
                <a class="text-body text-DarkBlue100 font-medium hover:text-blue100 transition-all" href="#">Lorem Ipsum</a>
            </li>
            <li class="flex items-center">
                <a class="text-body text-DarkBlue100 font-medium hover:text-blue100 transition-all" href="#">Lorem Ipsum</a>
            </li>
            <li class="flex items-center">
                <a class="text-body text-DarkBlue100 font-medium hover:text-blue100 transition-all" href="#">Lorem Ipsum</a>
            </li>
        </ul>
        <a class="mt-auto underline text-base text-blue100 font-semibold" href="#">Show all</a>
    </div>
</div>