<article class="flex flex-col w-full h-full items-center py-8 px-6 md:px-4 md:py-5 rounded-[20px] bg-white border border-DarkBlue10 transition-all hover:shadow-3xl @@Style">
    <div class="rounded-full w-[91px] h-[91px] md:w-[72px] md:h-[72px] flex items-center justify-center mb-5 bg-LightBlue overflow-hidden">
        <i class="icon-40 @@Icon"></i>
    </div>
    <span class="text-center font-bold block mb-4 text-Top2 md:text-base md:mb-3 max-w-[213px]">@@Title</span>
    <p class="text-center text-base text-DarkBlue50 md:text-body">@@Text</p>
</article>
