<article class="flex flex-col w-full items-center py-8 px-6 rounded-[20px] bg-white border border-DarkBlue10 transition-all hover:shadow-3xl">
    <div class="rounded-full w-[91px] h-[91px] flex items-center justify-center mb-5 bg-LightBlue overflow-hidden">
        <i class="Consultation-icon40"></i>
    </div>
    <span class="text-center font-bold block mb-4 text-Top2">Consultattion</span>
    <p class="text-center text-base text-DarkBlue50">Lorem ipsum dolor sit amet consectetur sit dignissim pellentesque egestas.</p>
</article>