<nav class="w-full flex justify-between" aria-label="pagination">
    <a href="#" class="pagination-button pagination-button--disabled" aria-label="previous page">
        <i class="Arrow-red rotate-180 pagination-button--arrow pagination-button--arrow-red"></i>
        <i class="Arrow-direction-right-icon rotate-180 pagination-button--arrow"></i>
        Previous
    </a>
    <ul class="flex flex-shrink-0 items-center gap-x-5 lg:gap-x-0 text-Body6 font-semibold">
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 bg-dark text-yellow " aria-label="page 1">1</a></li>
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary" aria-current="page" aria-label="page 2">2</a></li>
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary" aria-current="page" aria-label="page 3">3</a></li>
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary lg:hidden" aria-current="page" aria-label="page 4">4</a></li>
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary lg:hidden" aria-current="page" aria-label="page 5">5</a></li>
        <li>
            <a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary" aria-label="more pages">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" aria-hidden="true" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
            </a>
        </li>
        <li><a href="#" class="flex size-10 items-center justify-center rounded-full p-1 text-primary " aria-label="page 29">29</a></li>
    </ul>
    <a href="#" class="pagination-button" aria-label="next page">
        Next
        <i class="Arrow-red pagination-button--arrow pagination-button--arrow-red"></i>
        <i class="Arrow-direction-right-icon pagination-button--arrow"></i>
    </a>
</nav>
