<!--<div x-data="{ query: '', results: [1, 2, 3], showResults: false }" @click.away="showResults = false"-->
<!--     class='flex flex-col w-full relative'>-->
<!--    <label for="Id-4" class="text-none absolute -z-10">Search</label>-->
<!--    <form-->
<!--            class='flex items-center rounded-[40px] bg-white w-full h-[45px] lg:h-14 border border-grey overflow-hidden pl-5 pr-2'>-->
<!--        <div class="relative w-full">-->
<!--            <input type="search" id="Id-4" name="Search bar" placeholder="Search..."-->
<!--                   x-model="query" @input.debounce.300="fetchResults" @focus="showResults = true"-->
<!--                   class="input w-full bg-white border-0 focus:ring-0 focus:border-0 text-Body3 outline-none p-0 pr-40 leading-8 transition-colors duration-200 ease-in-out lg:pr-[75px]">-->
<!--            <button type="button" x-show="query.length > 0" @click="query = ''" aria-label="Clear search button"-->
<!--                    class="absolute right-1 top-1/2 transform -translate-y-1/2 text-gray-500 p-3 hover:text-gray-700">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">-->
<!--                    <path-->
<!--                            d="M10.2616 0.318046L6.00014 4.57951L1.73867 0.318046C1.31253 -0.108101 0.744331 -0.108101 0.318185 0.318046C-0.107962 0.744192 -0.107962 1.31239 0.318185 1.73853L4.57965 6L0.318185 10.2615C-0.107962 10.6876 -0.107962 11.2558 0.318185 11.682C0.744331 12.1081 1.31253 12.1081 1.73867 11.682L6.00014 7.42049L10.2616 11.682C10.6878 12.1081 11.2559 12.1081 11.6821 11.682C12.1082 11.2558 12.1082 10.6876 11.6821 10.2615L7.42063 6L11.6821 1.73853C12.1082 1.31239 12.1082 0.744192 11.6821 0.318046C11.2559 -0.108101 10.6878 -0.108101 10.2616 0.318046Z"-->
<!--                            fill="#19181B" />-->
<!--                </svg>-->
<!--            </button>-->
<!--        </div>-->
<!--        <button x-show="!query.length > 0" type='submit' aria-label="Search button"-->
<!--                class="px-5 inline-flex items-center justify-center ml-auto absolute top-1/2 -translate-y-1/2 right-0 z-30 lg:p-0 lg:w-10 lg:h-10 lg:top-2">-->
<!--            <i class='Search-icon block'></i>-->
<!--        </button>-->
<!--    </form>-->
<!--    <div x-show="showResults && query.length > 0"-->
<!--         class="absolute top-full mt-2 p-5 w-full bg-white border shadow-color-1 border-grey-2 rounded-lg shadow-shadow-2 z-10">-->
<!--        <ul>-->
<!--            <template x-for="result in results" :key="result.id">-->
<!--                <li class="py-2 text-Body3 cursor-pointer" @click="selectResult(result)">-->
<!--                    <span x-text="result.title"></span>-->
<!--                </li>-->
<!--            </template>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
