@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bg-tiles {
		background-size: 73px 73px;
		background-image: linear-gradient(currentColor 1px, transparent 1px),
			linear-gradient(to right, currentColor 1px, transparent 1px);
		@apply -m-0.5;
	}
}

@layer components {
	.container {
		@apply px-4 w-full minsm:max-w-[672px] minmd:max-w-[800px] minlg:max-w-[1056px] minxl:max-w-[1346px];
	}
}

@layer base {
	html {
		font-family: 'Sora', system-ui, sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		scroll-behavior: smooth;
		@apply text-primary;
	}

	body {
		@apply bg-grey-2;
	}
}

section {
	@apply w-full
}

.input::placeholder {
	@apply text-Body3 text-light-grey;
}

.input[type="search"]::placeholder {
	@apply text-Body3 text-light-grey focus:text-grey;
}

/* Стиль для скрытия оригинального input */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #4A5568; /* Gray-700 */
	cursor: pointer;
	border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #4A5568; /* Gray-700 */
	cursor: pointer;
	border-radius: 50%;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent; /* Убираем дефолтный стиль */
	pointer-events: auto; /* Разрешаем события мыши */
}

.pagination-num {
	@apply flex h-[52px] w-[52px] cursor-pointer items-center justify-center rounded-full bg-secondary font-medium uppercase transition;

	&.active {
		@apply bg-primary text-white;
	}
}

.swiper-pagination-bullet {
	@apply inline-flex h-14 w-14 md:h-[10px] md:w-[10px] md:min-w-[10px] md:min-h-[10px] md:text-none items-center justify-center bg-secondary font-medium text-primary opacity-100;
}

.swiper-pagination-bullet-active {
	@apply bg-primary text-white md:h-[14px] md:w-[14px] md:min-w-[14px] md:min-h-[14px];
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(1);
}

.swiper-button-wrapper {
	@apply absolute bottom-4 left-1/2 z-20 mx-auto h-14 w-full max-w-[692px] -translate-x-1/2 transform
	sm:bottom-0 ;
}

.swiper-button-next,
.swiper-button-prev {
	font-size: 0;
	@apply h-14 w-14 sm:h-11 sm:w-11 rounded-full bg-primary opacity-100 transition;

	&::after {
		display: none;
	}
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	@apply bg-white opacity-100;
}

.swiper-button {
	.arrow-left-black {
		display: none;
	}

	.arrow-right-white {
		display: block;
	}
}

.swiper-button.swiper-button-disabled {
	.arrow-left-black {
		display: block;
	}

	.arrow-right-white {
		display: none;
	}
}

.mySwiper2 {
	.swiper-slide {
		height: 223px;

		img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

.mySwiper {
	.swiper-slide {
		height: 65px;

		img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

.splide-1 .swiper {
	width: calc(100% - -15px);
	padding-right: 15px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.splide-2.swiper {
	overflow: visible;
}

.splide-3.swiper {
	width: 100%;
	padding: 0;
	overflow: visible;
}

.splide-4.swiper {
	width: 100%;
	padding-left: 0;
	overflow: visible;
}

.button {
	&.btn-medium {
		@apply h-[50px]
	}

	&.btn-white {
		@apply text-Body9 border-white bg-transparent hover:bg-white text-white py-3 h-[35px] max-w-[167px] hover:text-primary;
	}

	@apply text-Body4 px-10 h-[60px] md:py-3 rounded-full border transition border-yellow bg-yellow items-center justify-center hover:bg-transparent text-primary
}

.testimonial-text {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (max-width: 1279.98px) {
}

@media (max-width: 1023.98px) {
	.button.clicked {
		@apply bg-primary text-white;

		.search-icon {
			display: block !important;
		}

		.search-black-icon {
			display: none !important;
		}
	}
}

@media (max-width: 767.98px) {
	.step-block {
		max-width: 315px;
		min-width: 315px;
	}

	.splide-3 .swiper-slide {
		width: auto;
	}

	.splide-4 .swiper-slide {
		width: auto;
	}

	.splide-4 {
		.swiper-pagination {
			bottom: 20px;
		}
	}

	.splide-2 .swiper-slide {
		width: auto;
	}

	.splide-1.swiper {
		width: auto;
		padding-right: 0;

		.swiper-pagination {
			bottom: 20px;
		}
	}

	.splide-2.swiper {
		.swiper-pagination {
			bottom: 20px;
		}
	}


	.mySwiper2 {
		.swiper-slide {
			height: 343px;

			img {
				width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}
	}

	.mySwiper {
		.swiper-slide {
			height: 103px;

			img {
				width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 639.98px) {
}

@media (max-width: 424.98px) {
}
