@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-tiles {
    background-size: 73px 73px;
    background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
    @apply -m-0.5;
  }
}

@layer components {
  .container {
    @apply px-4 w-full minsm:max-w-[672px] minmd:max-w-[800px] minlg:max-w-[1056px] minxl:max-w-[1344px] min2xl:max-w-[1549px];
  }

  .container-full {
    @apply pl-8 pr-6 w-full max-w-full md:px-4;
  }

  .w-full {
    width: 100% !important;
  }
}

@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    scroll-behavior: smooth;
    @apply text-DarkBlue100 bg-pageBg;
  }
}

.border-none {
  border: none !important;
}

.row {
  @apply grid grid-cols-12;
}

.row-10 {
  @apply grid grid-cols-10;
}

section {
  @apply w-full
}

.input::placeholder {
	@apply text-DarkBlue50 md:text-body2
}

.input {
	&.active {
		@apply border-blue100
	}

    &.input-icon {
      @apply pl-[44px]
    }

  &--radio {
    label {
      @apply ml-2
    }

    @apply text-DarkBlue50
  }

  @apply px-4 py-[10px] bg-white flex items-center rounded-2xl text-body font-medium h-14 md:h-[50px] md:text-body2
  w-full text-DarkBlue100 border border-DarkBlue10 transition-all focus:shadow-3xl
  focus:ring-0 outline-0 focus:outline-0 focus:outline-inherit focus:border-DarkBlue10
}

.input-radio-block {
  &:checked {
    background-image: url("../img/icons/Check-box-active-icon20.svg");
  }

  @apply relative h-5 w-5 appearance-none rounded-full border border-blue100 bg-white disabled:cursor-not-allowed focus:ring-0 outline-0 focus:outline-0 focus:outline-inherit
}

.radio-filter {
  @apply hidden
}

.input[type="search"]::placeholder {

}

textarea.input {
  @apply h-[161px] px-4 py-6
}

select.select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url("../img/Dropdown-icon.svg");
  @apply text-DarkBlue50
}

.select option:first-child{
  color: red;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type='checkbox'] {
  @apply hidden;
}

.custom-checkbox input[type='checkbox']:checked + .checkmark {
  @apply flex;
}

.custom-checkbox .checkmark {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}


@media (max-width: 1279.98px) {
}

@media (max-width: 1023.98px) {

  .contact-color-block {
    width: calc(100% + 32px) !important;
    background-size: cover !important;
  }

}

@media (max-width: 767.98px) {
}

@media (max-width: 639.98px) {
}

@media (max-width: 424.98px) {
}
